@-ms-viewport{
  width: device-width;
}

.container {
	background-color:#212121;
	box-shadow:0 2.5px 0 2.5px #f0ad4e;
}

.navbar-brand {
	font-family: 'Ceviche One', cursive;
	font-size:2em;
}

.navbar-inverse .navbar-nav li a {
	color:#f0ad4e;
	font-family: 'Ceviche One', cursive;
	font-size:2em;
}

.navbar-inverse .navbar-header .navbar-brand {
    color: #f0ad4e;
}

.navbar-inverse .navbar-header .navbar-toggle .icon-bar{
	color: #f0ad4e;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: aqua;
}

.jumbotron{
	background-image:url('../images/tatteredbannerlarge.png');
	height:49em;
}

.jumbotron img {
	opacity:.5;
}

.jumbotron h1 {
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #f0ad4e;
	text-align:center;
	border-radius:.1em;
	background-color:black;
	opacity:.9;
	color:antiquewhite;
	margin-top:2.2em;
	margin-left:7.5em;
	font-family: 'Ceviche One', cursive;
	padding:.6em;
	padding-bottom:1em;
	width:45%;
	box-shadow:5px 5px 3px 0px #212129;
}

.jumbotron h2 {
	text-align:center;
	border-radius:.1em;
	background-color:black;
	opacity:.7;
	color:antiquewhite;
	margin-top:7.5em;
	margin-left:14.5em;
	font-family: 'Roboto Mono', monospace;
	padding:.6em;
	width:55%;
	box-shadow:2.5px 2.5px 1.5px 0px #212129;
}

.jumbotron h4 {
	width:45%;
	margin-top:-2.55em;
	margin-left:26.30em;
	border-radius:.3em;
	background-color:antiquewhite;
	opacity:.7;
	color:#f0ad4e;
	padding:.3em;
	text-align:center;
	box-shadow:2.5px 2.5px 1.5px 0px #212120;
}

body {
	background-color:#212127;
	background-image:url('../images/concrete_wall.png');
	opacity:.7;
}

p {
	font-family: 'Roboto Mono', monospace;
	font-size:1em;
}

img {
	border-radius:3px;
}

.row {
	margin:0 auto;
}

.feature1, .feature2, .feature3 {
	margin:0 auto;
	margin-left:4em;
	padding-left:3em;
}

.feature1 {
	margin-top:5em;
}

.feature2 {
	margin-top:20em;
}

.feature3 {
	margin-top:35em;
}

.cards {
	height:65em;
}

.feature img {
	margin-left:5em;
}

.title1, .title2, .title3{
	color:#f0ad4e;
	text-align:center;
	font-size:2em;
}

.slogan {
	background-image:url('../images/chainlinkbannerlarge.png');
	opacity:.3;
	font-family: 'Ceviche One', cursive;
	font-size:2.0em;
	border-radius:3px;
	margin-top:2rem;
	padding:.5rem;
	text-align:center;
	height:17em;
}

.slogan h2 {
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #f0ad4e;
	margin-top:2.25em;
	color:#212129;
	font-size:3em;
}

.footer {
	text-align:center;
	background-color:#212121;
	padding-top:1.5rem;
	padding-top:5em;
}

.card {
	background-color:antiquewhite;
	opacity:.5;
	border-radius:5px;
}

.card-title {
	color:#f0ad4e;
	background-color:#212129;
	border-radius:5px;
	padding:.20em;
	line-height:3.5em;
}

.card-block p {
	color:#000000;
	line-height:1.5em;
	padding:.20em;
}
